* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    min-width: 280px;
}

body {
    min-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Karla', sans-serif;
    color: #393E41;
}

header, main {
    max-width: 960px;
    margin: 0 auto;
}

main {
    padding-top: calc(64px + 1.5rem);
}

form[name='Contact Form'] {
    width: 100%;
}

#site_wrapper {
    position: relative;
    flex: 1 0 auto;
    min-height: 100vh;
}

/* MOBILE MENU STYLES */

#overlay_mobileMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    background: rgba(80,80,89, 0.4);
    z-index: 1000;
}

.close_btn {
    opacity: 0;
    transition: all 0.4s ease;
}

.close_btn--active {
    opacity: 1;
    transform: rotate(0deg);
    transition: all 0.8s ease;
}

.close_btn--active:hover {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
}

.close_btn--active > path,
.close_btn--active:hover > path {
    transition: fill 0.6s ease;
}

.close_btn--active:hover > path:first-child {
    fill: #94B0DA;
}

.close_btn--active:hover > path:last-child {
    fill: #393E41;
}

@media only screen and (min-width: 501px) {
    #overlay_mobileMenu, #container_mobileMenu {
        display: none;
    }
}

/* NAVLIST STYLES */

.NavList {
    display: flex;
}

.NavList_mobileMenu > a:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #94B0DA;
    transform: scaleX(0);
    transform-origin: 0% 0%;
    transition: transform 0.4s ease;
}

.NavList_mobileMenu > a:hover:after {
    transform: scaleX(1);
    transition: transform 0.4s ease;
}

@media only screen and (max-width: 500px) {
    .NavList {
        display: none;
    }
}

/* NAVLINK STYLES */

.NavLink--active:before {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #9EE493;
    z-index: -1;
    transform: scale(1);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.NavLink--active:hover:before {
    transform: scale(2);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* LOGO STYLES */

.b-highlight > path:last-child {
    fill: #393E41;
    transform: translateX(0);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: none;
}

.b-highlight--active > path:last-child {
    transform: translateX(-31px);
    fill: #9EE493;
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.b-highlight > path:nth-child(2), .b-highlight > path:first-child {
    opacity: 0;
}

.b-highlight--active > path:nth-child(2), .b-highlight--active > path:first-child {
    opacity: 1;
}

.b-highlight--active > path:nth-child(2) {
    transition: opacity 1.6s ease;
}

.b-highlight > path:nth-child(2) {
    transition: opacity 0.6s ease;
}

.b-highlight > path:first-child, .b-highlight--active > path:first-child {
    transition: opacity 0.8s ease;
}

/* HAMBURGER STYLES */

.hamburger {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.hamburger > .bar_hamburger,
.hamburger:hover > .bar_hamburger--hidden {
    transform: scaleX(1);
}

.hamburger > .bar_hamburger--hidden {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    background: #94B0DA;
}

.hamburger > .bar_hamburger--hidden:nth-child(2) {
    top: 0;
    width: 40px;
}

.hamburger > .bar_hamburger--hidden:nth-child(3) {
    bottom: 0;
    width: 30px;
}

.hamburger:hover > .bar_hamburger,
.hamburger > .bar_hamburger--hidden {
    transform: scaleX(0);
}

.hamburger > .bar_hamburger,
.hamburger:hover > .bar_hamburger {
    transition: transform 0.4s ease;
    transform-origin: 100% 0;
}

.hamburger > .bar_hamburger--hidden,
.hamburger:hover > .bar_hamburger--hidden {
    transition: transform 0.4s ease;
    transform-origin: 0% 0;
}

@media only screen and (min-width: 501px) {
    .hamburger {
        display: none;
    }
}

/* INFO CARD */

.info_card {
    width: 100%;
    height: 130.19px;
    margin-bottom: 1.5rem;
}

div > .info_card:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
    .info_card {
        width: 32%;
        height: 200px;
        margin-bottom: 0;
    }
}

/* BLOG CARD */

.blog_card {
    width: 100%;
    min-height: 200px;
    margin-bottom: 1.5rem;
}

div > .blog_card:last-child {
    margin-bottom: 0;
}

.blog_card > div {
    flex-flow: column nowrap;
}

@media only screen and (min-width: 768px) {
    .blog_card > div {
        flex-flow: row nowrap;
    }
}

/* BLOG LIST & ASIDE CONTAINER */

.blog_list {
    width: 65%;
}

.aside_container {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

@media only screen and (max-width: 500px) {
    .blog_list {
        width: 100%;
    }

    .aside_container {
        display: none!important;
    }
}

/* BLOG PIC & BLOG INFO */

.blog_pic, .blog_info {
    width: 100%;
    height: auto;
}

.blog_pic > img {
    border-radius: 0.5em 0.5em 0 0;
}

.blog_info {
    padding: 1rem;
}

@media only screen and (min-width: 768px) {
    .blog_pic {
        width: 45%;
        height: auto;
    }

    .blog_info {
        width: 55%;
        border-radius: 0 0.5em 0 0;
    }

    .blog_pic > img {
        border-radius: 0.5em 0 0 0;
    }
}

/* BLOG POST */

.post_body {
    margin-bottom: 2rem;
}

.post_body > h2 {
    margin: 1.5rem 0;
    font-size: 1.675rem;
    font-family: 'Rubik', sans-serif;
}

.post_body > p {
    margin: 1rem 0;
    font-size: 1.125rem;
    line-height: 2rem;
}