* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fadeInImg {
    from { opacity: 0; }
    to { opacity: 1; }
}

.img-loading {
    opacity: 0;
    width: 100%;
    height: auto;
}

.img-loaded {
    animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
}

.NavLink--active:before {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #9EE493;
    z-index: -1;
    transform: scale(1);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.NavLink--active:hover:before {
    transform: scale(2);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.b-highlight > path:last-child {
    opacity: 1;
}

.b-highlight--active > path:last-child {
    opacity: 0;
}

.b-highlight > path:nth-child(2), .b-highlight > path:first-child {
    opacity: 0;
}

.b-highlight--active > path:nth-child(2), .b-highlight--active > path:first-child {
    opacity: 1;
}

.b-highlight--active > path:last-child, .b-highlight--active > path:nth-child(2) {
    transition: opacity 1.6s ease;
}

.b-highlight > path:last-child, .b-highlight > path:nth-child(2) {
    transition: opacity 0.6s ease;
}

.b-highlight > path:first-child, .b-highlight--active > path:first-child {
    transition: opacity 0.8s ease;
}