* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    min-width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

main {
    padding-top: calc(64px + 1.5rem);
}

#site_wrapper {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    flex: 1 0 auto;
    min-height: 100vh;
}

/* MOBILE MENU STYLES */

#overlay_mobileMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    background: rgba(80,80,89, 0.4);
    z-index: 1000;
}

.close_btn {
    opacity: 0;
    transition: all 0.4s ease;
}

.close_btn--active {
    opacity: 1;
    transform: rotate(0deg);
    transition: all 0.8s ease;
}

.close_btn--active:hover {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
}

.close_btn--active > path,
.close_btn--active:hover > path {
    transition: fill 0.6s ease;
}

.close_btn--active:hover > path:first-child {
    fill: #94B0DA;
}

.close_btn--active:hover > path:last-child {
    fill: #393E41;
}

@media only screen and (min-width: 501px) {
    #overlay_mobileMenu, #container_mobileMenu {
        display: none;
    }
}

/* LAZY LOADER STYLES */

@keyframes fadeInImg {
    from { opacity: 0; }
    to { opacity: 1; }
}

.img-loading {
    opacity: 0;
    width: 100%;
    height: auto;
}

.img-loaded {
    animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
}

/* NAVLIST STYLES */

.NavList {
    display: flex;
}

.NavList_mobileMenu > a:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #94B0DA;
    transform: scaleX(0);
    transform-origin: 0% 0%;
    transition: transform 0.4s ease;
}

.NavList_mobileMenu > a:hover:after {
    transform: scaleX(1);
    transition: transform 0.4s ease;
}

@media only screen and (max-width: 500px) {
    .NavList {
        display: none;
    }
}

/* NAVLINK STYLES */

.NavLink--active:before {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #9EE493;
    z-index: -1;
    transform: scale(1);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.NavLink--active:hover:before {
    transform: scale(2);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* LOGO STYLES */

.b-highlight > path:last-child {
    fill: #393E41;
    transform: translateX(0);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: none;
}

.b-highlight--active > path:last-child {
    transform: translateX(-31px);
    fill: #9EE493;
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.b-highlight > path:nth-child(2), .b-highlight > path:first-child {
    opacity: 0;
}

.b-highlight--active > path:nth-child(2), .b-highlight--active > path:first-child {
    opacity: 1;
}

.b-highlight--active > path:nth-child(2) {
    transition: opacity 1.6s ease;
}

.b-highlight > path:nth-child(2) {
    transition: opacity 0.6s ease;
}

.b-highlight > path:first-child, .b-highlight--active > path:first-child {
    transition: opacity 0.8s ease;
}

/* HAMBURGER STYLES */

.hamburger {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.hamburger > .bar_hamburger,
.hamburger:hover > .bar_hamburger--hidden {
    transform: scaleX(1);
}

.hamburger > .bar_hamburger--hidden {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    background: #94B0DA;
}

.hamburger > .bar_hamburger--hidden:nth-child(2) {
    top: 0;
    width: 40px;
}

.hamburger > .bar_hamburger--hidden:nth-child(3) {
    bottom: 0;
    width: 30px;
}

.hamburger:hover > .bar_hamburger,
.hamburger > .bar_hamburger--hidden {
    transform: scaleX(0);
}

.hamburger > .bar_hamburger,
.hamburger:hover > .bar_hamburger {
    transition: transform 0.4s ease;
    transform-origin: 100% 0;
}

.hamburger > .bar_hamburger--hidden,
.hamburger:hover > .bar_hamburger--hidden {
    transition: transform 0.4s ease;
    transform-origin: 0% 0;
}

@media only screen and (min-width: 501px) {
    .hamburger {
        display: none;
    }
}

/* INFO CARD */

.info_card {
    width: 100%;
    height: 130.19px;
    margin-bottom: 1.5rem;
}

div > .info_card:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
    .info_card {
        width: 32%;
        height: 200px;
        margin-bottom: 0;
    }
}

/* HOME DESCRIPTION */
